body {
  margin: auto;
  max-width:80%;
  background-color:silver;
}
form{
  background-color: white;
  margin: 5px;
}
input{
  display:block;
}
h1{
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2em;
}
nav, footer{
  background-color:black;
  color:white;
  text-align: center;
  font-size: 2em;
}
a{
  margin-left: 30px;
  margin-right: 30px;
  color: yellow;
  text-align: center;
}
label{
  font-size: 1.25em;
}
.logo{
  float: right;
  height: 40%;
  width:40%;
}
.logores{
  float: right;
  height:50%;
  width: 50%;
  margin:auto;
}
.formbtn{
display:inline-block;
width: 75px;
height: 25px;
font-size: 1em;
border: lightgrey 2px dashed;
border-radius: 15px;
transition-duration: .5s;
}
.formbtn:hover{
background-color: white;
border: lightgrey 2px solid;
}
.specinstruct{
  float:right;
  display: block;
  margin-bottom: 10px;
}
